<div class="container1">
  <div ng-app="relatedManager">
    <div ng-controller="RelatedCtrl as r">


      <center>
      <section id="screen1">

        <div class="bnw">

          <h2> Hashtags most associated with <%=@hashtag_feed.name %> <br></h2>
          <%@hasher.first(10).each do |x| %>
          <ul>
           <li><%= x[0] %> shows up 
            <%= x[1] %> times</li> 
          </ul>
          <% end %>
        </div> 

        <canvas donutchart options="myChartOptions" data="myChartData" width="300" height="300"></canvas><br />

        <nav class="navbar-default" role="navigation">
         <div class="container">
          <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Search Again</a>
        </div>

      </div>
    </nav> 

  </section>

  <section id="screen2">
   
      <h2> Hashtag Size over Time </h2>
      <% @hashtag_feed.hash_sizes.first(10).each do |y| %>
      <li>
        The total number of posts containing the hashtag "<%=@hashtag_feed.name%>" was <%=number_with_delimiter(y.size) %> during the time of <%= y.created_at %>
        <% end %>

        <canvas linechart options="options" data="chart" width="800" height="400"></canvas>
  </section>


  <section id="screen3">
      <h2> The category for <%=@hashtag_feed.name%> is </h2>
      <%= @top_hashfeed_counter %>

      <canvas barchart options="options" data="chart" width="800" height="400"></canvas>


  </section>
    </center>
    

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    $(document).ready(function(){
     $(window).bind('scroll', function() {
       var navHeight = $( window ).height() - 70;
       if ($(window).scrollTop() > navHeight) {
         $('nav').addClass('fixed');
       }
       else {
         $('nav').removeClass('fixed');
       }
     });
   });
  </script>

  </div>
</div>