<div class="container1">
  <div ng-app="relatedManager">
    <div ng-controller="RelatedCtrl as r">


      <center>
      <section id="screen1">

        <div class="bnw">

          <h2> Hashtags most associated with <%=@hashtag_feed.name %> <br></h2>
          <%@hasher.first(10).each do |x| %>
          <ul>
           <li><%= x[0] %> shows up 
            <%= x[1] %> times</li> 
          </ul>
          <% end %>
        </div> 

        <canvas donutchart options="myChartOptions" data="myChartData" width="300" height="300"></canvas><br />

        

  </section>


  <section id="screen2">
   
      <nav>
    <ul>
      <li><a href="/">Search Again</a></li>
      <li><a href="screen1">Most Associated</a></li>
      <li><a href="screen2">Size Over Time</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Frequency</a></li>
    </ul>
  </nav>

      <h2> Hashtag Size over Time </h2>
      <% @hashtag_feed.hash_sizes.first(10).each do |y| %>
      <li>
        The total number of posts containing the hashtag "<%=@hashtag_feed.name%>" was <%=number_with_delimiter(y.size) %> during the time of <%= y.created_at %>
        <% end %>

        <canvas linechart options="options" data="chart" width="800" height="400"></canvas>
  </section>


  <section id="screen3">
      <h2> The category for <%=@hashtag_feed.name%> is </h2>
      <br><br>
      <%= @top_hashfeed_counter %> <br>HASHFEED COUNTER NO WORKY

      <canvas barchart options="options" data="chart" width="800" height="400"></canvas>


  </section>
    </center>

  </div>
</div>