<div class="container">
	<%= link_to 'Back', root_path %>
<div ng-app="relatedManager">
  <div ng-controller="RelatedCtrl as r">
    {{ r.test }}
  <canvas donutchart options="myChartOptions" data="myChartData" width="300" height="300"></canvas>

<!--   <li ng-repeat="a in tags">
    {{ a[0] }} {{a[1]}}
  </li> -->
    </div>

  </div>
</div>

<div class="bnw">
    <%= @hasher.count %> current hashtag related count <br>
    <%= @top_hashfeed_counter %> top hashtag related count 
<h1> Results for Hashtag Feed:<%=@hashtag_feed.name %> <br></h1>
   <%@hasher.each do |x| %>
     <%= x[0] %> <br> <%= x[1] %> <br>
   <% end %>
</div> 
</div>

<h2> Hashtag Size over Time </h2>
<% @hashtag_feed.hash_sizes.each do |y| %>
    <%= y.size %> 
    <br />
    <%= y.created_at %>
<% end %>
