<div class="container">
  <%= link_to 'Back', root_path %>
<div ng-app="relatedManager">
  <div ng-controller="RelatedCtrl as r">
    {{ r.test }}
  <div ng-init="greeting='Hello'; person='World'">
    {{greeting}} {{person}}!
  </div>


  <canvas donutchart options="myChartOptions" data="myChartData" width="300" height="300"></canvas><br />

  <canvas barchart options="options" data="chart" width="800" height="400"></canvas>
  <br />

  <canvas linechart options="options" data="chart" width="800" height="400"></canvas>
    <br />

  {{ x1 }}
<!--   <li ng-repeat="a in tags">
    {{ a[0] }} {{a[1]}}
  </li> -->
    </div>

  </div>
</div>

<div class="bnw">

  <h1> Results for Hashtag Feed:<%=@hashtag_feed.name %> <br></h1>
   <%@hasher.first(10).each do |x| %>
   <ul>
     <li><%= x[0] %> shows up 
      <%= x[1] %> times</li> 
    </ul>
   <% end %>
</div> 

<h2> Hashtag Size over Time </h2>
<% @hashtag_feed.hash_sizes.each do |y| %>
<ul>
  <li>
The total number of posts containing the hashtag "<%=@hashtag_feed.name%>" was <%=number_with_delimiter(y.size) %> during the time of <%= y.created_at %>
<% end %>

</div>